/* form.css */

/* ===[ begin ]=== */

/*
    Title:                   Form Design Style
    Author:                  Dzenan Ridjanovic
    Influenced By:           http://www.picment.com/articles/css/funwithforms/
    Created:                 2006-09-04
    Updated:                 2007-03-26
*/
 
/*
    fieldset {
	    width:300px; 
	}
	
	legend {
        color: #ffffff;
        background: #ffa20c;
        border: 1px solid #781351;
        padding: 2px 6px;
    }
	
    label {
	    text-align:right;
	    width:70px;
	    float:left;
	    padding:0.2em;
	    margin:0;
	    margin-top:0.3em; 
	}
	
    .nobr {
	    display:none; 
	}  
	
    .textfield {
	    margin:3px;
	    height:20px;
	    width:200px; 
	}
	
    .textarea {
	    margin:3px;
	    height:165px;
	    width:200px; 
	}
	

  form label, input, button {
    vertical-align: bottom;
  }

*/

  footer button, form {
    display: inline;    
  }

  		
/* ===[ end ]=== */