/* layout.css */

/* ===[ begin ]=== */

/*
  Title:                   Basic Layout Design Style
  Author:                  Dzenan Ridjanovic
  Influenced By:           
  http://www.ehow.com/how_12007718_scroll-inside-html-canvas.html
  Created:                 2006-09-03
  Updated:                 2012-01-04
*/

  header {
    color: #663117;
    padding: 4px;
    background: #d7e9f7;
    text-align: center;
  }
    	
  footer {
    font-family: arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background: #663117;
    padding: 10px;
    border-top: 2px solid #999999;
  }

  #scrollpane {
    width: 990px;
    height: 580px;
    overflow: auto;
    border: solid 1px white;
    background-color: white;
  }
    		
/* ===[ end ]=== */